#commentID {
    overflow:visible; /* Shrinkwrap the text in IE7- */
    color: #428bca;
    margin:0;
    padding:0;
    border:0;
    background:transparent;
    font:inherit; /* Inherit font settings (doesn’t work in IE7-) */
    line-height:normal; /* Override line-height to avoid spacing issues */
    text-decoration: none; /* Make it look linky */
    cursor: pointer; /* Buttons don’t make the cursor change in all browsers */
    -moz-user-select:text; /* Make button text selectable in Gecko */
}
/* Make sure keyboard users get visual feedback */
#commentID:hover,
 #commentID:focus {
    text-decoration: underline;
} 
/* Remove mystery padding in Gecko browsers.
 * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
 */
#commentID::-moz-focus-inner {
    padding:0;
    border:0;
}